@using SnipEx.Web.ViewModels.User
@model (PaginationViewModel Pagination, string CurrentFilter, int FilteredCount)

@if (Model.Pagination.TotalPages > 1)
{
    <div class="pagination-container">
        <div class="pagination-info">
            <span>Showing @Model.Pagination.StartItem-@Model.Pagination.EndItem of @Model.FilteredCount items</span>
        </div>
        <nav class="pagination-nav" aria-label="Pagination">
            <ul class="pagination">
                <li class="page-item @(!Model.Pagination.HasPrevious ? "disabled" : "")">
                    @if (Model.Pagination.HasPrevious)
                    {
                        <a class="page-link" href="?filter=@Model.CurrentFilter&page=@(Model.Pagination.CurrentPage - 1)" aria-label="Previous">
                            <i class="fa-solid fa-chevron-left"></i>
                        </a>
                    }
                    else
                    {
                        <span class="page-link" aria-label="Previous">
                            <i class="fa-solid fa-chevron-left"></i>
                        </span>
                    }
                </li>

                @foreach (var pageNumber in Model.Pagination.GetPageNumbers())
                {
                    <li class="page-item @(pageNumber == Model.Pagination.CurrentPage ? "active" : "")">
                        @if (pageNumber == Model.Pagination.CurrentPage)
                        {
                            <span class="page-link current">@pageNumber</span>
                        }
                        else
                        {
                            <a class="page-link" href="?filter=@Model.CurrentFilter&page=@pageNumber">@pageNumber</a>
                        }
                    </li>
                }

                <li class="page-item @(!Model.Pagination.HasNext ? "disabled" : "")">
                    @if (Model.Pagination.HasNext)
                    {
                        <a class="page-link" href="?filter=@Model.CurrentFilter&page=@(Model.Pagination.CurrentPage + 1)" aria-label="Next">
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    }
                    else
                    {
                        <span class="page-link" aria-label="Next">
                            <i class="fa-solid fa-chevron-right"></i>
                        </span>
                    }
                </li>
            </ul>
        </nav>
    </div>
}